@media( min-width:769px){

    .HomeHeroSection{
        height:100vh;
        width:100%;
        overflow:hidden;
   
        display:flex;
        justify-content:space-around;
        align-items:center;

    }

  
}


/*------  Mobile View ---------*/

@media (max-width:768px){
    .HomeHeroSection{
        height:120vh;
        width:100%;
        overflow:hidden;
   
        display:flex;
        justify-content:space-around;
        align-items:center;
        flex-direction:column;



    }

    .HomeHeroSection_LeftSide{
        height:100%;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
    }

}